extends ./layout/index

block contenido
    main.contnainer-mt-5
        h1.text-center.mt-5 #{pagina}
        .row

            h2.d-block.w-100.text-center Agrega un testimonio:

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Tu Nombre", name="nombre", class="form-control")
                        .form-group
                            label(for="correo") Correo Electrónico
                            input#nombre(type="text", placeholder="Tu correo", name="correo", class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(class="form-control", name="mensaje", placeholder="Tu mensaje", rows=3)
                        input.btn.btn-success.btn-block(type="submit")