#movie .movie-info{
    height              : calc(100vh - 56.92px);
    background-size     : cover;
    background-repeat   : no-repeat;
    background-position : center center;
    padding             : 0;

}

#movie .movie-info .bg-color-custom{
    height           : 100%;
    background-color : rgba(0, 0, 0, 0.70);
}

#movie .movie-info .movie-info__poster {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#movie .movie-info .movie-info__poster-img {
    width         : 70%;
    border-radius : 10px;
}